@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&display=swap');

#death-screen {
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 2;
}

#death-screen .bg {
   background-color: rgba(0, 0, 0, 0.3);
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 1;
}

#death-screen .content {
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
   z-index: 2;
}

#death-screen .content .title {
   text-align: center;
   font-family: "PT Serif";
   font-size: 2.75rem;
   font-weight: 700;
}

#death-screen .content .tip {
   color: #fff;
   font-family: "Inconsolata";
   font-size: 1.1rem;
   text-shadow: 0 0 1px #000, 0 0 2px #000, 0 0 3px #000, 0 0 4px #000, 0 0 5px #000;
}