@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700;900&display=swap');

#pause-screen {
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
}

#pause-screen .main {
   background-color: #666;
   padding: 0.2rem 2rem;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   z-index: 1;
   border: 3px solid #000;
}
#pause-screen .main * {
   font-family: "Inconsolata";
}
#pause-screen .main h1 {
   color: #fff;
   text-align: center;
   font-weight: 700;
   margin: 0;
   white-space: pre;
   text-shadow: 3px 3px #000;
}
#pause-screen .main h1 span {
   color: #bbb;
   font-weight: 900;
   animation: 1.75s ghostWiggle ease-in-out infinite;
}
#pause-screen .main p {
   width: 100%;
   color: #fff;
   text-align: center;
   margin: 0.5rem 0;
   text-shadow: 2px 2px #000;
}

@keyframes ghostWiggle {
   0% {
      opacity: 0;
   }
   50% {
      opacity: 1;
   }
   100% {
      opacity: 0;
   }
}

#pause-screen .bg {
   background-color: rgba(0, 0, 0, 0.2);
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
}