#chat-box {
   --message-height: 1.3rem;
   min-width: 15rem;
   max-width: 25rem;
   position: absolute;
   left: 1rem;
   bottom: 1rem;
   z-index: 1;
}
#chat-box :is(.chat-message, .message-preview) {
   color: #fff;
   text-shadow: 2px 2px #000;
   font-family: "Noto Sans";
   font-size: 0.95rem;
   min-height: var(--message-height);
   padding: 0 5px;
   margin: 5px;
}
#chat-box .chat-message {
   background-color: rgba(0, 0, 0, 0.7);
}
#chat-box .message-preview {
   margin-top: 3rem;
}
#chat-box .message-preview {
   background-color: rgba(0, 0, 0, 0.5);
}