@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

html, body {
   overflow: hidden;
   margin: 0;
   padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#game-canvas, #text-canvas {
   position: absolute;
}

.game-message {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}