#hotbar {
   width: 100%;
   position: absolute;
   bottom: 0.5rem;
   z-index: 2;
   display: flex;
}

#hotbar .flex-container {
   flex: 1;
   display: flex;
   justify-content: center;
   flex-shrink: 0;
}

.flex-container:first-child > .inventory { margin-right: auto; }

.flex-container:last-child  > .inventory { margin-left: auto;  }

#hotbar .inventory {
   margin: 0 5rem;
   flex-shrink: 0;
}

#hotbar .inventory .item-slot {
   display: inline-block;
}

#hotbar .inventory .item-slot.dark img {
   filter: brightness(0.5);
   opacity: 0.8;
}