#hotbar {
   width: 100%;
   position: absolute;
   bottom: 0.5rem;
   z-index: 2;
   display: flex;
   justify-content: center;
}

#hotbar .inventory {
   margin: 0 5rem;
   border: 5px solid black !important;
   border-radius: 0 !important;
}

#hotbar .flex-balancer {
   opacity: 0;
}

#hotbar > * {
   display: inline-flex;
}