/* Generic inventory interfaces */

.menu {
   background-color: #3a3a3a;
   border: 5px solid black;
   padding: 0 0.25rem 0.25rem;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%) scale(var(--zoom));
   z-index: 2;
   box-shadow: -4px -4px 0 0 #303030 inset, 4px 4px 0 0 #444 inset;
}

.menu .area-row {
   display: flex;
   justify-content: space-between;
   /* align-items: center; */
}

.menu .area {
   background-color: #666;
   margin: 0.3rem;
   padding: 0.2rem;
   box-shadow: -4px -4px 0 0 #555 inset;
}

.menu .menu-title {
   font-family: "Noto Sans";
   color: #ddd;
   text-align: center;
   font-size: 1.1rem;
   margin: 0;
}

.menu .area :is(h3, p, label) {
   font-family: "Noto Sans";
   color: #fff;
   margin: 0;
}

.inventory-container {
   background-color: #666;
   padding: 0.15rem;
   display: inline-block;
   margin-left: 50%;
   transform: translateX(-50%);
}

.inventory {
   background-color: #444;
   border: 5px solid black;
}

.inventory-row {
   display: flex;
}

.item-slot {
   width: var(--item-slot-size);
   height: var(--item-slot-size);
   background-image: url("../../../images/miscellaneous/item-slot.png");
   background-size: 100%;
   image-rendering: pixelated;
   margin: 0.05rem;
   position: relative;
   user-select: none;
}

.item-slot.selected {
   /* @Temporary */
   background-image: url("../../../images/miscellaneous/item-slot-selected.png");
}
.item-slot:not(.empty)::after {
   content: "";
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 0;
}

.item-slot img {
   width: var(--item-image-size);
   height: var(--item-image-size);
   image-rendering: pixelated;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   z-index: 1;
}

.item-slot .item-count, #held-item .held-item-count {
   color: #fff;
   font-family: "Inconsolata";
   font-size: 1.3rem;
   font-weight: bold;
   text-shadow: 0 0 1px #000, 0 0 2px #000, 0 0 3px #000, 0 0 4px #000;
   text-align: right;
   position: absolute;
   right: 25%;
   bottom: 25%;
   transform: translate(50%, 50%);
   z-index: 2;
}