#tribesman-inventory {
   padding: 0.25rem;
   position: absolute;
   bottom: 20rem;
   left: 50%;
   transform: translateX(-50%);
   z-index: 2;
}

#tribesman-inventory .hotbar-container {
   display: flex;
}

#tribesman-inventory .hotbar {
   margin-right: 5rem;
}

#tribesman-inventory .backpack {
   margin-bottom: 1rem;
   display: inline-block;
   margin-left: 50%;
   transform: translateX(-50%);
}