@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700;900&display=swap');

#frame-graph {
   position: absolute;
   left: 0;
   bottom: 0;
   z-index: 2;
}

#frame-graph canvas {
   background-color: rgba(0, 0, 0, 0.3);
}

#frame-graph p.fps {
   color: #fff;
   font-family: "Inconsolata";
   font-size: 1.2rem;
   font-weight: 700;
   text-shadow: 0 0 1px #000, 0 0 2px #000, 0 0 3px #000;
   margin: 0;
   position: absolute;
   top: 0.2rem;
   left: 0.2rem;
   user-select: none;
}