@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700;900&display=swap');

#game-info-display {
   background-color: rgba(0, 0, 0, 0.8);
   padding: 0.5rem;
   border: 2px solid #666;
   position: absolute;
   top: 0;
   left: 0;
   z-index: 2;
}
#game-info-display * {
   font-family: "Inconsolata";
   font-weight: 700;
   user-select: none;
}
#game-info-display p {
   color: #fff;
   margin: 0.5rem 0;
}

#game-info-display ul {
   color: #fff;
   background-color: #000;
   margin-left: 0rem;
   padding-left: 1rem;
}

#game-info-display ul.options {
   padding: 0.2rem;
   margin: 0;
   list-style-type: none;
}

#game-info-display input {
   outline: none;
}

#game-info-display ul label.enabled {
   color: #fff;
}
#game-info-display ul label {
   color: #ccc;
}